<div [ngClass]="{'alert-success': task.isComplete}">
  <div class="row">
    <div class="col-sm-2 h5">Task</div>
    <div class="col-sm-2 h5">Parent</div>
    <div class="col-sm-auto h5">Priority</div>
    <div class="col-sm-1 h5">Start</div>
    <div class="col ml-6 h5">End</div>
  </div>
  <div class="row">
    <div class="col-sm-2">{{task.taskDescription | uppercase}}</div>
    <div class="col-sm-2">{{parentTaskName | uppercase}}</div>
    <div class="col-sm-auto">{{task.priority}}</div>
    <div class="col-sm-auto ml-5">{{task?.startDate | date:'shortDate'}}</div>
    <div class="col ml-2">{{task?.endDate | date:'shortDate'}}</div>
    <div class="col"><button type="button" class="btn btn-info btn-block" [disabled]="task.isComplete"
        (click)="editTask(task.taskId)">Edit</button>
    </div>
    <div class="col"><button type="button" class="btn btn-primary btn-block" [disabled]="task.isComplete"
        (click)="endTask(task.taskId)">End task</button></div>
    <div class="col"><button type="button" class="btn btn-danger btn-block"
        (click)="deleteTask(task.taskId) ">Delete</button></div>
  </div>
</div>
<hr />