<div class="card bg-light mb-3 w-50" style="margin-top:10px;">

    <div class="card-header">
        <span *ngIf="addMode">Add Project</span>
        <span *ngIf="!addMode">Edit Poject</span>
    </div>

    <div class="card-body">
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="form-group row" [ngClass]="{'alert alert-danger': formErrors.projectName}">
                <label for="projectName" class="col-sm-2 col-form-label col-form-label-sm">Project:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-sm" formControlName="projectName"
                        id="projectName" (blur)="logValidationErrors()" placeholder="Project..">
                    <span class="help-block" *ngIf="formErrors.projectName">
                        {{formErrors.projectName}}
                    </span>
                </div>
            </div>

            <div formGroupName="dateGroup">
                <div class="form-group row">

                    <div class="col-md-5">
                        <div class="float-right form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                (change)="SetStartandEndDate($event)" value="option1">
                            <label class="col-form-label col-form-label-sm" for="inlineCheckbox1">Set Start and End
                                Date</label>
                        </div>
                    </div>
                    <div class="col-md-3" [ngClass]="{'alert alert-danger': formErrors.startDate}">
                        <input type="text" bsDatepicker class="form-control"
                            value="{{projectForm.get('dateGroup').get('startDate').value | date: 'shortDate'}}"
                            formControlName="startDate" id="startDate" [bsConfig]="{ showWeekNumbers:false}"
                            (blur)="logValidationErrors()">
                        <span class="help-block" *ngIf="formErrors.startDate">
                            {{formErrors.startDate}}
                        </span>
                    </div>
                    <div class="col-md-3"
                        [ngClass]="{'alert alert-danger': formErrors.endDate || formErrors.dateGroup}">
                        <input type="text" bsDatepicker [minDate]="minDate" [bsConfig]="{ showWeekNumbers:false}"
                            class="form-control" formControlName="endDate" id="endDate"
                            value="{{projectForm.get('dateGroup').get('endDate').value | date: 'shortDate'}}"
                            (blur)="logValidationErrors()">
                        <span class="help-block" *ngIf="formErrors.endDate || formErrors.dateGroup">
                            {{formErrors.endDate ?  formErrors.endDate : formErrors.dateGroup}}
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group row" [ngClass]="{'alert alert-danger': formErrors.priority}">
                <label for="priority" class="col-sm-2 col-form-label-sm" style="margin-top:15px">Priority:</label>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-10" style="float:left">
                            <sup>0</sup>
                        </div>
                        <div class="col-md-2" style="float:left">
                            <sup>30</sup>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <input id="slider1" type="range" min="0" max="30" value="0" class="form-control"
                                formControlName="priority" />
                        
                            <span class="help-block" *ngIf="formErrors.priority">
                                {{formErrors.priority}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="managerName" class="col-sm-2 col-form-label col-form-label-sm">Manager:</label>
                <div class="col-md-8">
                    <input type="text" class="form-control form-control-sm" formControlName="managerName"
                        id="managerName" placeholder="Search Manager..">
                </div>
                <div>
                    <button type="button" class="btn btn-dark btn-sm" (click)="selectProjectManager()">Search</button>
                </div>
            </div>

            <div class="form-group row text-center">
                <div *ngIf="addMode" class="col-sm-1">
                    <button type="submit" class="btn btn-primary btn-sm" [disabled]="projectForm.invalid">Add</button>
                </div>
                <div *ngIf="!addMode" class="col-sm-1">
                    <button type="button" class="btn btn-danger btn-sm" [disabled]="projectForm.invalid"
                        (click)="edit()">Edit</button>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-info btn-sm" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </form>

    </div>
</div>

<div *ngIf="allProjects && allProjects.length">
   
    <app-view-project [projects]="allProjects" (editMessageEvent)="changeToEditMode($event)"
        (deleteMessageEvent)="deleteComplete($event)"></app-view-project>
</div>