<div class="card bg-light mb-3 w-50" style="margin-top:10px;">

  <div class="card-header">
    <span *ngIf="addMode">Add User</span>
    <span *ngIf="!addMode">Edit User</span>
  </div>

  <div class="card-body">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="form-group row" [ngClass]="{'alert alert-danger': formErrors.firstName}">
        <label for="firstName" class="col-sm-2 col-form-label col-form-label-sm">First Name:</label>
        <div class="col-md-4">
          <input type="text" class="form-control form-control-sm" formControlName="firstName" id="firstName"
            (blur)="logValidationErrors()" placeholder="First name..">
          <span class="help-block" *ngIf="formErrors.firstName">
            {{formErrors.firstName}}
          </span>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'alert alert-danger': formErrors.lastName}">
        <label for="lastName" class="col-sm-2 col-form-label col-form-label-sm">Last Name:</label>
        <div class="col-md-4">
          <input type="text" class="form-control form-control-sm" formControlName="lastName" id="lastName"
            (blur)="logValidationErrors()" placeholder="Last name..">
          <span class="help-block" *ngIf="formErrors.lastName">
            {{formErrors.lastName}}
          </span>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'alert alert-danger': formErrors.employeeID}">
        <label for="employeeID" class="col-sm-2 col-form-label col-form-label-sm">Employee Id:</label>
        <div class="col-md-4">
          <input type="text" class="form-control form-control-sm" formControlName="employeeID" id="employeeID"
            (blur)="logValidationErrors()" placeholder="Employee Id..">
          <span class="help-block" *ngIf="formErrors.employeeID">
            {{formErrors.employeeID}}
          </span>
        </div>
      </div>
      <div class="form-group row text-center">
        <div *ngIf="addMode" class="col-sm-1">
          <button type="submit" class="btn btn-primary btn-sm" [disabled]="userForm.invalid">Add</button>
        </div>
        <div *ngIf="!addMode" class="col-sm-1">
          <button type="button" class="btn btn-danger btn-sm" (click)="edit()">Edit</button>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-info btn-sm" (click)="cancel()">Cancel</button>
        </div>

      </div>
    </form>

  </div>
</div>

<div *ngIf="allUsers && allUsers.length">
  <app-view-user [users]="allUsers" (editMessageEvent)="changeToEditMode($event)"
    (deleteMessageEvent)="deleteComplete($event)"></app-view-user>
</div>